
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}
.container h1{
    text-align: center;
}
h1{
    text-align: center;
}
#cform{
    width: 95%;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
}
.container{
    width: 350px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: rgb(154, 213, 235);
    text-align: center;
}

.dropdown{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 10px;
}
.box{
    display: flex;
    justify-content:baseline ;
    gap: 170px;
    margin-bottom: 10px;
    margin-left: 60px;
    font-size: 20px;

}
#from , #to{
    height: 30px;
}
.msg {
    text-align: center;
    font-size: 30px;
}
.btn{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(204, 30, 30);
    cursor: pointer;

}


/* Chrome, Safari, Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
